.azure/

.next/

infra/env-vars.json

node_modules/

.DS_Store
.env*.local
.env.azure
.env
.venv
*.pyc

next-env.d.ts
npm-debug.log*
*.tsbuildinfo

TODO.md

.src
.src.bak

tmp/*
src/**/__pycache__/

assets/processed_files